.App {
  text-align: center;
  margin: auto;
  margin-top: 15vh;
  width: 30vw;
  height: 80vh;
  background-color: black;
  color: white;
  border: orange 5px solid;
  border-radius: 30px;
}

@media screen and (max-width: 992px) {
  .App {
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .App {
    width: 90vw;
  }
}